<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sqltutorialspoint">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".View.AdminTimelineActivity"
            android:label="@string/title_activity_admin_timeline"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".View.AdvertiseDetailsActivity"
            android:label="@string/title_activity_advertise_details"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".View.UpdateAdvertiseActivity"
            android:label="@string/title_activity_update_advertise"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.MemberProfileAcivity"
            android:label="@string/title_activity_member_profile_acivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.AddnewAdvertiseActivity"
            android:label="@string/title_activity_addnew_advertise"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.VerifyMailActivity"
            android:label="@string/title_activity_verify_mail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.AdvertiseListActivity"
            android:label="@string/title_activity_advertise_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.FirstActivity"
            android:label="@string/title_activity_first"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sqltutorialspoint.View.MainActivity" />
        </activity>
        <activity
            android:name=".View.SignupActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".View.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>